aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-doc
annotated-types
anyio
attrs
blinker
certifi
cffi
charset-normalizer
click
colorama
cryptography
distro
docx2txt
faiss-cpu
filelock
filetype
flatbuffers
frozenlist
fsspec
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
google-generativeai
googleapis-common-protos
graphviz
greenlet
groq
grpcio
grpcio-status
h11
hf-xet
httpcore
httplib2
httptools
httpx
httpx-sse
huggingface_hub
idna
itsdangerous
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-classic
langchain-community
langchain-core
langchain-google-genai
langchain-groq
langchain-ollama
langchain-openai
langchain-protocol
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
loguru
markdown-it-py
MarkupSafe
mdurl
mmh3
mpmath
multidict
narwhals
networkx
numpy
ollama
openai
orjson
ormsgpack
packaging
pandas
pillow
propcache
proto-plus
protobuf
py_rust_stemmers
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
pyparsing
pypdf
python-dateutil
python-dotenv
python-multipart
PyYAML
referencing
regex
requests
requests-toolbelt
rich
rpds-py
safetensors
scikit-learn
scipy
shellingham
six
smmap
sniffio
SQLAlchemy
starlette
streamlit>=1.35.0
qdrant-client>=1.9.0
langchain-qdrant>=0.1.0
langchain-core>=0.2.0
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
toml
tqdm
typer
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
uuid_utils
uvicorn
watchdog
websockets
win32_setctime
xxhash
yarl
zstandard
